<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.neotreks.accuterra.mobile.demo">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />

    <application
        android:name=".DemoApplication"
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning"
        tools:replace="android:allowBackup">
        <activity
            android:name=".trip.community.CommunityFeedActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".trip.online.OnlineTripPoiActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".trip.online.OnlineTripMediaActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".profile.ProfileActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".settings.UserSettingsActivity" />
        <activity
            android:name=".trip.online.OnlineTripActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".trip.recorded.RecordedTripActivity" />
        <activity
            android:name=".trip.recorded.RecordedTripPoiActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.MediaDetailActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".trip.recorded.CaptureImageActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".trip.recorded.TripSaveActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".trip.recorded.TripAddPoiActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".trip.recorded.TripEditPoiActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".trip.recorded.NewTripActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".trip.MyTripsActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".trip.recorded.TripRecordingActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".DrivingActivity" />
        <activity
            android:name=".TrailDiscoveryActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".trail.TrailPoiDetailActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".DemoActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".TrailInfoActivity"
            android:theme="@style/AppTheme.NoActionAndStatusBar" />
        <activity
            android:name=".upload.ObjectUploadActivity"
            android:theme="@style/AppTheme.NoActionBar" />

        <service
            android:name="com.neotreks.accuterra.mobile.sdk.map.cache.OfflineMapService"
            android:enabled="true"
            android:exported="false" /> <!-- Service for tracking location on the background -->
        <service
            android:name=".trip.location.LocationService"
            android:enabled="true"
            android:exported="false"
            android:foregroundServiceType="location" />
    </application>

</manifest>